In [141]:
import pandas as pd

Let's import our dataset from the csv file and print it

In [142]:
df = pd.read_csv('probleme_graphe.csv');df

   noeud_amont noeud_aval type_aretes
0    sommet_15  sommet_95      chemin
1    sommet_45  sommet_38      chemin
2    sommet_28  sommet_72     arrivee
3     sommet_2  sommet_65      chemin
4    sommet_98  sommet_18      chemin
..         ...        ...         ...
85   sommet_21  sommet_29      chemin
86   sommet_70  sommet_15      chemin
87   sommet_13  sommet_75      chemin
88    sommet_0   sommet_4      chemin
89   sommet_95   sommet_8      chemin

[90 rows x 3 columns]

We create a DataFrame counting only the starting nodes. Each row corresponds to a traveler

In [143]:
df_starting_points = df[df['type_aretes'] == 'depart'];df_starting_points

   noeud_amont noeud_aval type_aretes
6    sommet_33  sommet_90      depart
23   sommet_59  sommet_49      depart
26   sommet_91  sommet_77      depart
27   sommet_56  sommet_39      depart
28   sommet_50  sommet_96      depart
34   sommet_14  sommet_58      depart
37   sommet_31  sommet_24      depart
41   sommet_34  sommet_17      depart
44   sommet_36  sommet_82      depart
68   sommet_84  sommet_81      depart

Our first function is made to return the type of the node. It's a string with only 3 possibilities : 'depart' / 'chemin' / 'arrivee'

In [144]:
def find_type_noeud(df, noeud) :
    return df[df['noeud_amont'] == noeud]['type_aretes'].iloc[0]

Our second function is made to return the node at the upper level that we currently have. The node that comes next. It will return a string like 'sommet_XX', with XX the number of the node

In [145]:
def find_upper_node(df, sommet_amont):
    return df[df['noeud_amont'] == sommet_amont]['noeud_aval'].iloc[0]

Here is our main function. For each entry in the starting point dataframe, we have one itinerary to compute.
Each itinerary have at least a starting point and an arrival.
While the computed node is not the arrival node, we add this node to the list, and choose the upper node using the 'find_upper_node' function
When we are at the final node, we add it to the list, and we return the list of the nodes took by the traveler.

In [146]:
def compute_itinerary():
    for i in range(df_starting_points.shape[0]):
        node = df_starting_points['noeud_amont'].iloc[i]
        node_list = [node]
        while find_type_noeud(df, node) != 'arrivee':
            node_list.append(node)
            node = find_upper_node(df,node)
        node = find_upper_node(df,node)
        node_list.append(node)
        print(node_list)

And there is the final list of the itineraries took by the travelers

In [147]:
compute_itinerary()

['sommet_33', 'sommet_33', 'sommet_90', 'sommet_68', 'sommet_5', 'sommet_42', 'sommet_41', 'sommet_93', 'sommet_44', 'sommet_6']
['sommet_59', 'sommet_59', 'sommet_49', 'sommet_2', 'sommet_65', 'sommet_94', 'sommet_16', 'sommet_85', 'sommet_54', 'sommet_64']
['sommet_91', 'sommet_91', 'sommet_77', 'sommet_57', 'sommet_12', 'sommet_86', 'sommet_69', 'sommet_35', 'sommet_23', 'sommet_74']
['sommet_56', 'sommet_56', 'sommet_39', 'sommet_98', 'sommet_18', 'sommet_83', 'sommet_87', 'sommet_20', 'sommet_45', 'sommet_88']
['sommet_50', 'sommet_50', 'sommet_96', 'sommet_61', 'sommet_67', 'sommet_0', 'sommet_4', 'sommet_32', 'sommet_13', 'sommet_19']
['sommet_14', 'sommet_14', 'sommet_58', 'sommet_78', 'sommet_27', 'sommet_21', 'sommet_29', 'sommet_30', 'sommet_73', 'sommet_25']
['sommet_31', 'sommet_31', 'sommet_24', 'sommet_70', 'sommet_15', 'sommet_95', 'sommet_8', 'sommet_52', 'sommet_80', 'sommet_9']
['sommet_34', 'sommet_34', 'sommet_17', 'sommet_43', 'sommet_76', 'sommet_22', 'sommet_48', 'sommet_55', 'sommet_60', 'sommet_66']
['sommet_36', 'sommet_36', 'sommet_82', 'sommet_11', 'sommet_1', 'sommet_71', 'sommet_89', 'sommet_37', 'sommet_47', 'sommet_72']
['sommet_84', 'sommet_84', 'sommet_81', 'sommet_26', 'sommet_10', 'sommet_100', 'sommet_46', 'sommet_51', 'sommet_63', 'sommet_99']